[submodule "contribs/c-blosc2"]
	path = contribs/c-blosc2
	url = https://github.com/Blosc/c-blosc2.git
[submodule "tests/cutest"]
	path = tests/cutest
	url = https://github.com/aleixalcacer/cutest.git
