.wy-side-nav-search, .wy-nav-top, .wy-nav-side {
    background: rgba(0, 127, 136, 0.05);
}

.wy-nav-top {
    background: rgba(0, 127, 136, 0.8);
}


.wy-nav-content {
    max-width: 100%;
    padding: 3rem 6rem 3rem 3rem;
}


.rst-content dl:not(.docutils) dt {
    background: rgba(0, 127, 136, 0.05);
    border-top-color: rgb(0, 127, 136);
    color: rgb(0, 127, 136);
}

.reference.internal {
    color: rgb(0, 127, 136);
}

.wy-menu-vertical a:hover {
    background-color: rgba(0, 127, 136, 0.1);
    cursor: pointer;
}

a {
    color:  rgb(0, 127, 136);
}

a:hover {

    color: rgb(0, 127, 136);

}
